데이터 출처 : https://www.kaggle.com/datasets/datasnaek/league-of-legends

참고 링크 : https://www.kaggle.com/code/jaytegge/league-of-legends-data-analysis

In [59]:
import pandas as pd
import numpy as np 
import json

In [50]:
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [51]:
data.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,t1_champ1_sum1,t1_champ1_sum2,t1_champ2id,t1_champ2_sum1,t1_champ2_sum2,t1_champ3id,t1_champ3_sum1,t1_champ3_sum2,t1_champ4id,t1_champ4_sum1,t1_champ4_sum2,t1_champ5id,t1_champ5_sum1,t1_champ5_sum2,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t1_ban1,t1_ban2,t1_ban3,t1_ban4,t1_ban5,t2_champ1id,t2_champ1_sum1,t2_champ1_sum2,t2_champ2id,t2_champ2_sum1,t2_champ2_sum2,t2_champ3id,t2_champ3_sum1,t2_champ3_sum2,t2_champ4id,t2_champ4_sum1,t2_champ4_sum2,t2_champ5id,t2_champ5_sum1,t2_champ5_sum2,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5,t1_champ1id_tags,t1_champ2id_tags,t1_champ3id_tags,t1_champ4id_tags,t1_champ5id_tags,t2_champ1id_tags,t2_champ2id_tags,t2_champ3id_tags,t2_champ4id_tags,t2_champ5id_tags
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,Vladimir,Teleport,Flash,Bard,Exhaust,Flash,Kog'Maw,Flash,Heal,Master Yi,Smite,Ghost,Viktor,Flash,Ignite,11,1,2,3,0,Riven,Janna,Cassiopeia,Draven,Kayn,Graves,Smite,Flash,Xayah,Flash,Heal,Darius,Ghost,Flash,Zed,Ignite,Flash,Thresh,Flash,Exhaust,5,0,0,1,1,Fiora,Vayne,Karma,Soraka,Caitlyn,Mage,Support,Marksman,Assassin,Mage,Marksman,Marksman,Fighter,Assassin,Support
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,Draven,Heal,Flash,Irelia,Teleport,Flash,Nidalee,Flash,Exhaust,Kayle,Flash,Ignite,Shaco,Flash,Smite,10,4,0,2,1,Caitlyn,Darius,Teemo,Xayah,Warwick,Malphite,Flash,Teleport,Morgana,Flash,Ignite,Hecarim,Smite,Flash,Yasuo,Flash,Ignite,Riven,Flash,Heal,2,0,0,0,0,Master Yi,Vayne,Zed,Caitlyn,Illaoi,Marksman,Fighter,Assassin,Fighter,Assassin,Tank,Mage,Fighter,Fighter,Fighter
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,Tristana,Flash,Heal,Kayn,Smite,Flash,Nami,Exhaust,Flash,Rumble,Flash,Teleport,Kassadin,Teleport,Flash,8,1,1,1,0,Lulu,Janna,Twitch,Soraka,Blitzcrank,Cassiopeia,Flash,Heal,Thresh,Ignite,Flash,Jayce,Flash,Teleport,Jax,Flash,Smite,Ashe,Heal,Flash,2,0,0,1,0,Yasuo,Zed,Kha'Zix,Maokai,Evelynn,Marksman,Fighter,Support,Fighter,Assassin,Mage,Support,Fighter,Fighter,Marksman
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,Maokai,Flash,Teleport,Brand,Flash,Ignite,Twitch,Flash,Heal,Orianna,Flash,Cleanse,Dr. Mundo,Smite,Flash,9,2,1,2,0,Zed,Vayne,Ornn,Fiora,Cho'Gath,Malzahar,Ignite,Flash,Warwick,Smite,Flash,Thresh,Flash,Exhaust,Riven,Flash,Ignite,Ashe,Flash,Heal,0,0,0,0,0,Camille,Tristana,Kayn,Janna,Caitlyn,Tank,Mage,Marksman,Mage,Fighter,Mage,Fighter,Support,Fighter,Marksman
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,Warwick,Flash,Teleport,Twitch,Smite,Flash,Janna,Flash,Exhaust,Draven,Flash,Heal,Syndra,Heal,Flash,9,2,1,3,0,Malzahar,Lee Sin,Thresh,Morgana,Cho'Gath,Sona,Exhaust,Flash,Jarvan IV,Flash,Teleport,Kayn,Smite,Flash,Kassadin,Flash,Teleport,Caitlyn,Flash,Heal,3,0,0,1,0,Garen,Master Yi,Braum,Darius,Tristana,Fighter,Marksman,Support,Marksman,Mage,Support,Tank,Fighter,Assassin,Marksman

In [2]:
def idToName(ID, dic):
    '''
    ID: champion ID as listed in original dataframe
    dic: champInfo from json, defined above

    used to convert ID's to champion names
    '''
    champ = dic['name'][ID]
    return champ

def getTag(name, data):
    '''
    name: champion name as listed in dataframe
    data: champInfo

    used to get primary tag from champInfo
    '''
    tags = data['tags'][name][0]
    return tags

def numToColor(data):
    '''
    data: main dataframe

    used to get color of team from 0 or 1
    '''
    if data == 0:
        color = 'blue'
    else:
        color = 'red'
    return color

In [3]:
data = pd.read_csv('games.csv')
data.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [4]:
jDict = pd.read_json('champion_info_2.json')
champInfo = pd.read_json((jDict['data']).to_json(), orient='index')
champInfo.head()

                     tags                title   id      key     name
Aatrox    [Fighter, Tank]     the Darkin Blade  266   Aatrox   Aatrox
Ahri     [Mage, Assassin]  the Nine-Tailed Fox  103     Ahri     Ahri
Akali          [Assassin]   the Fist of Shadow   84    Akali    Akali
Alistar   [Tank, Support]         the Minotaur   12  Alistar  Alistar
Amumu        [Tank, Mage]        the Sad Mummy   32    Amumu    Amumu

In [5]:
spellJson = pd.read_json('summoner_spell_info.json')
spellInfo = pd.read_json((spellJson['data']).to_json(),orient='index')
spellInfo.head()

,id,summonerLevel,name,key,description
1,1,6,Cleanse,SummonerBoost,Removes all disables (excluding suppression an...
11,11,10,Smite,SummonerSmite,Deals 390-1000 true damage (depending on champ...
12,12,6,Teleport,SummonerTeleport,"After channeling for 4.5 seconds, teleports yo..."
13,13,1,Clarity,SummonerMana,Restores 50% of your champion's maximum Mana. ...
14,14,10,Ignite,SummonerDot,"Ignites target enemy champion, dealing 70-410 ..."

In [6]:
champInfo.set_index(['id'], inplace=True)
champInfo.head()

                 tags                title      key     name
id
266   [Fighter, Tank]     the Darkin Blade   Aatrox   Aatrox
103  [Mage, Assassin]  the Nine-Tailed Fox     Ahri     Ahri
84         [Assassin]   the Fist of Shadow    Akali    Akali
12    [Tank, Support]         the Minotaur  Alistar  Alistar
32       [Tank, Mage]        the Sad Mummy    Amumu    Amumu

In [7]:
champCols = ['t1_champ1id','t1_champ2id','t1_champ3id','t1_champ4id','t1_champ5id',
             't2_champ1id','t2_champ2id','t2_champ3id','t2_champ4id','t2_champ5id']
banCols = ['t1_ban1','t1_ban2','t1_ban3','t1_ban4','t1_ban5',
             't2_ban1','t2_ban2','t2_ban3','t2_ban4','t2_ban5',]
sumSpellsCols = ['t1_champ1_sum1','t1_champ1_sum2','t1_champ2_sum1','t1_champ2_sum2','t1_champ3_sum1','t1_champ3_sum2',
                 't1_champ4_sum1','t1_champ4_sum2','t1_champ5_sum1','t1_champ5_sum2','t2_champ1_sum1','t2_champ1_sum2',
                 't2_champ2_sum1','t2_champ2_sum2','t2_champ3_sum1','t2_champ3_sum2','t2_champ4_sum1','t2_champ4_sum2',
                 't2_champ5_sum1','t2_champ5_sum2']

In [8]:
for c in champCols:
    data[c] = data[c].apply(lambda x: idToName(x, champInfo))

for c in banCols:
    data[c] = data[c].apply(lambda x: idToName(x, champInfo)) 

for c in sumSpellsCols:
    data[c] = data[c].apply(lambda x: idToName(x, spellInfo))

In [9]:
data[champCols].head()

,t1_champ1id,t1_champ2id,t1_champ3id,t1_champ4id,t1_champ5id,t2_champ1id,t2_champ2id,t2_champ3id,t2_champ4id,t2_champ5id
0,Vladimir,Bard,Kog'Maw,Master Yi,Viktor,Graves,Xayah,Darius,Zed,Thresh
1,Draven,Irelia,Nidalee,Kayle,Shaco,Malphite,Morgana,Hecarim,Yasuo,Riven
2,Tristana,Kayn,Nami,Rumble,Kassadin,Cassiopeia,Thresh,Jayce,Jax,Ashe
3,Maokai,Brand,Twitch,Orianna,Dr. Mundo,Malzahar,Warwick,Thresh,Riven,Ashe
4,Warwick,Twitch,Janna,Draven,Syndra,Sona,Jarvan IV,Kayn,Kassadin,Caitlyn

In [10]:
data[banCols].head()

,t1_ban1,t1_ban2,t1_ban3,t1_ban4,t1_ban5,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,Riven,Janna,Cassiopeia,Draven,Kayn,Fiora,Vayne,Karma,Soraka,Caitlyn
1,Caitlyn,Darius,Teemo,Xayah,Warwick,Master Yi,Vayne,Zed,Caitlyn,Illaoi
2,Lulu,Janna,Twitch,Soraka,Blitzcrank,Yasuo,Zed,Kha'Zix,Maokai,Evelynn
3,Zed,Vayne,Ornn,Fiora,Cho'Gath,Camille,Tristana,Kayn,Janna,Caitlyn
4,Malzahar,Lee Sin,Thresh,Morgana,Cho'Gath,Garen,Master Yi,Braum,Darius,Tristana

In [11]:
data[sumSpellsCols].head()

,t1_champ1_sum1,t1_champ1_sum2,t1_champ2_sum1,t1_champ2_sum2,t1_champ3_sum1,t1_champ3_sum2,t1_champ4_sum1,t1_champ4_sum2,t1_champ5_sum1,t1_champ5_sum2,t2_champ1_sum1,t2_champ1_sum2,t2_champ2_sum1,t2_champ2_sum2,t2_champ3_sum1,t2_champ3_sum2,t2_champ4_sum1,t2_champ4_sum2,t2_champ5_sum1,t2_champ5_sum2
0,Teleport,Flash,Exhaust,Flash,Flash,Heal,Smite,Ghost,Flash,Ignite,Smite,Flash,Flash,Heal,Ghost,Flash,Ignite,Flash,Flash,Exhaust
1,Heal,Flash,Teleport,Flash,Flash,Exhaust,Flash,Ignite,Flash,Smite,Flash,Teleport,Flash,Ignite,Smite,Flash,Flash,Ignite,Flash,Heal
2,Flash,Heal,Smite,Flash,Exhaust,Flash,Flash,Teleport,Teleport,Flash,Flash,Heal,Ignite,Flash,Flash,Teleport,Flash,Smite,Heal,Flash
3,Flash,Teleport,Flash,Ignite,Flash,Heal,Flash,Cleanse,Smite,Flash,Ignite,Flash,Smite,Flash,Flash,Exhaust,Flash,Ignite,Flash,Heal
4,Flash,Teleport,Smite,Flash,Flash,Exhaust,Flash,Heal,Heal,Flash,Exhaust,Flash,Flash,Teleport,Smite,Flash,Flash,Teleport,Flash,Heal

In [12]:
champInfo.set_index(['name'],inplace=True)
champInfo.head()

                     tags                title      key
name
Aatrox    [Fighter, Tank]     the Darkin Blade   Aatrox
Ahri     [Mage, Assassin]  the Nine-Tailed Fox     Ahri
Akali          [Assassin]   the Fist of Shadow    Akali
Alistar   [Tank, Support]         the Minotaur  Alistar
Amumu        [Tank, Mage]        the Sad Mummy    Amumu

In [13]:
for col in champCols:
    data[col + '_tags'] = data[col].apply(lambda x: getTag(x, champInfo))
data.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t1_champ1id_tags,t1_champ2id_tags,t1_champ3id_tags,t1_champ4id_tags,t1_champ5id_tags,t2_champ1id_tags,t2_champ2id_tags,t2_champ3id_tags,t2_champ4id_tags,t2_champ5id_tags
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,Mage,Support,Marksman,Assassin,Mage,Marksman,Marksman,Fighter,Assassin,Support
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,Marksman,Fighter,Assassin,Fighter,Assassin,Tank,Mage,Fighter,Fighter,Fighter
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,Marksman,Fighter,Support,Fighter,Assassin,Mage,Support,Fighter,Fighter,Marksman
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,Tank,Mage,Marksman,Mage,Fighter,Mage,Fighter,Support,Fighter,Marksman
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,Fighter,Marksman,Support,Marksman,Mage,Support,Tank,Fighter,Assassin,Marksman

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 71 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameId              51490 non-null  int64
 1   creationTime        51490 non-null  int64
 2   gameDuration        51490 non-null  int64
 3   seasonId            51490 non-null  int64
 4   winner              51490 non-null  int64
 5   firstBlood          51490 non-null  int64
 6   firstTower          51490 non-null  int64
 7   firstInhibitor      51490 non-null  int64
 8   firstBaron          51490 non-null  int64
 9   firstDragon         51490 non-null  int64
 10  firstRiftHerald     51490 non-null  int64
 11  t1_champ1id         51490 non-null  object
 12  t1_champ1_sum1      51490 non-null  object
 13  t1_champ1_sum2      51490 non-null  object
 14  t1_champ2id         51490 non-null  object
 15  t1_champ2_sum1      51490 non-null  object
 16  t1_champ2_sum2      51490 non-null  object
 17  t1_champ3id         51490 non-null  object
 18  t1_champ3_sum1      51490 non-null  object
 19  t1_champ3_sum2      51490 non-null  object
 20  t1_champ4id         51490 non-null  object
 21  t1_champ4_sum1      51490 non-null  object
 22  t1_champ4_sum2      51490 non-null  object
 23  t1_champ5id         51490 non-null  object
 24  t1_champ5_sum1      51490 non-null  object
 25  t1_champ5_sum2      51490 non-null  object
 26  t1_towerKills       51490 non-null  int64
 27  t1_inhibitorKills   51490 non-null  int64
 28  t1_baronKills       51490 non-null  int64
 29  t1_dragonKills      51490 non-null  int64
 30  t1_riftHeraldKills  51490 non-null  int64
 31  t1_ban1             51490 non-null  object
 32  t1_ban2             51490 non-null  object
 33  t1_ban3             51490 non-null  object
 34  t1_ban4             51490 non-null  object
 35  t1_ban5             51490 non-null  object
 36  t2_champ1id         51490 non-null  object
 37  t2_champ1_sum1      51490 non-null  object
 38  t2_champ1_sum2      51490 non-null  object
 39  t2_champ2id         51490 non-null  object
 40  t2_champ2_sum1      51490 non-null  object
 41  t2_champ2_sum2      51490 non-null  object
 42  t2_champ3id         51490 non-null  object
 43  t2_champ3_sum1      51490 non-null  object
 44  t2_champ3_sum2      51490 non-null  object
 45  t2_champ4id         51490 non-null  object
 46  t2_champ4_sum1      51490 non-null  object
 47  t2_champ4_sum2      51490 non-null  object
 48  t2_champ5id         51490 non-null  object
 49  t2_champ5_sum1      51490 non-null  object
 50  t2_champ5_sum2      51490 non-null  object
 51  t2_towerKills       51490 non-null  int64
 52  t2_inhibitorKills   51490 non-null  int64
 53  t2_baronKills       51490 non-null  int64
 54  t2_dragonKills      51490 non-null  int64
 55  t2_riftHeraldKills  51490 non-null  int64
 56  t2_ban1             51490 non-null  object
 57  t2_ban2             51490 non-null  object
 58  t2_ban3             51490 non-null  object
 59  t2_ban4             51490 non-null  object
 60  t2_ban5             51490 non-null  object
 61  t1_champ1id_tags    51490 non-null  object
 62  t1_champ2id_tags    51490 non-null  object
 63  t1_champ3id_tags    51490 non-null  object
 64  t1_champ4id_tags    51490 non-null  object
 65  t1_champ5id_tags    51490 non-null  object
 66  t2_champ1id_tags    51490 non-null  object
 67  t2_champ2id_tags    51490 non-null  object
 68  t2_champ3id_tags    51490 non-null  object
 69  t2_champ4id_tags    51490 non-null  object
 70  t2_champ5id_tags    51490 non-null  object
dtypes: int64(21), object(50)
memory usage: 27.9+ MB

In [18]:
data.to_csv('rank_data.csv')

In [24]:
data['winner']

0        1
1        1
2        1
3        1
4        1
        ..
51485    2
51486    2
51487    2
51488    2
51489    1
Name: winner, Length: 51490, dtype: int64

In [26]:
round(data['gameDuration'].mean(),0)

1832.0

In [28]:
data['winner'].value_counts()

1    26077
2    25413
Name: winner, dtype: int64

In [29]:
data['winner'].value_counts().sum()

51490

In [15]:
sumPicks = pd.concat([data['t1_champ1id'],data['t1_champ2id'],data['t1_champ3id'],data['t1_champ4id'],data['t1_champ5id'],
                      data['t2_champ1id'],data['t2_champ2id'],data['t2_champ3id'],data['t2_champ4id'],data['t2_champ5id']],
                      ignore_index=True)
sortedPicks = sorted(sumPicks)
sumBans = pd.concat([data['t1_ban1'],data['t1_ban2'],data['t1_ban3'],data['t1_ban4'],data['t1_ban5'],
                     data['t2_ban1'],data['t2_ban2'],data['t2_ban3'],data['t2_ban4'],data['t2_ban5']],
                     ignore_index=True)
sortedBans = sorted(sumBans)

In [31]:
sumPicks.value_counts().to_csv('sumPicks.csv')

In [30]:
sumBans.value_counts()

Yasuo       33015
Zed         25393
Cho'Gath    25175
Darius      22870
Janna       21390
            ...
Viktor        128
Sion          117
Ryze           96
Udyr           90
Skarner        70
Length: 139, dtype: int64

In [32]:
sumBans.value_counts().to_csv('sumBans.csv')

In [33]:
spellsTotals = data[sumSpellsCols].apply(pd.value_counts)
spellsTotals['count'] = spellsTotals[sumSpellsCols].sum(axis=1)
spellsTotals

,t1_champ1_sum1,t1_champ1_sum2,t1_champ2_sum1,t1_champ2_sum2,t1_champ3_sum1,t1_champ3_sum2,t1_champ4_sum1,t1_champ4_sum2,t1_champ5_sum1,t1_champ5_sum2,...,t2_champ1_sum2,t2_champ2_sum1,t2_champ2_sum2,t2_champ3_sum1,t2_champ3_sum2,t2_champ4_sum1,t2_champ4_sum2,t2_champ5_sum1,t2_champ5_sum2,count
Barrier,702,890,649,814,620,852,630,834,648,814,...,881,637,887,617,823,634,838,625,804,14880
Cleanse,160,199,151,153,135,168,136,134,125,182,...,190,129,159,136,182,154,181,149,184,3154
Exhaust,3640,4394,3904,4614,3928,4738,3992,4723,3763,4557,...,4459,3912,4596,3928,4704,3855,4717,3885,4511,84576
Flash,28164,22216,27998,22490,28019,22397,27988,22393,27966,22377,...,22204,28037,22427,28170,22255,28089,22322,27838,22589,504121
Ghost,744,798,678,706,647,750,664,689,720,800,...,761,715,706,690,712,672,737,665,711,14305
Heal,4581,5758,4922,6309,4902,6180,4971,6136,4500,5826,...,5934,4854,6197,4834,6173,4896,6276,4571,5746,108043
Ignite,3820,5205,3832,4930,3786,4894,3777,4982,3917,5093,...,5047,3823,4875,3758,4980,3715,4899,3956,5032,88258
Smite,4711,5635,4780,5520,4789,5511,4681,5579,4768,5550,...,5656,4690,5558,4621,5594,4894,5594,4777,5563,103062
Teleport,4968,6395,4576,5954,4664,6000,4651,6020,5083,6291,...,6358,4693,6085,4736,6067,4581,5926,5024,6350,109401

In [37]:
spellsTotals.sum(axis=1).to_csv('spellsTotals.csv')

In [38]:
dataClean = data.replace([0,1,2],['neither','blue','red'])
dataClean.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t1_champ1id_tags,t1_champ2id_tags,t1_champ3id_tags,t1_champ4id_tags,t1_champ5id_tags,t2_champ1id_tags,t2_champ2id_tags,t2_champ3id_tags,t2_champ4id_tags,t2_champ5id_tags
0,3326086514,1504279457970,1949,9,blue,red,blue,blue,blue,blue,...,Mage,Support,Marksman,Assassin,Mage,Marksman,Marksman,Fighter,Assassin,Support
1,3229566029,1497848803862,1851,9,blue,blue,blue,blue,neither,blue,...,Marksman,Fighter,Assassin,Fighter,Assassin,Tank,Mage,Fighter,Fighter,Fighter
2,3327363504,1504360103310,1493,9,blue,red,blue,blue,blue,red,...,Marksman,Fighter,Support,Fighter,Assassin,Mage,Support,Fighter,Fighter,Marksman
3,3326856598,1504348503996,1758,9,blue,blue,blue,blue,blue,blue,...,Tank,Mage,Marksman,Mage,Fighter,Mage,Fighter,Support,Fighter,Marksman
4,3330080762,1504554410899,2094,9,blue,red,blue,blue,blue,blue,...,Fighter,Marksman,Support,Marksman,Mage,Support,Tank,Fighter,Assassin,Marksman

In [39]:
firsts = ['firstBlood','firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald']
firstTotals = dataClean[firsts].apply(pd.value_counts)
newIndex = ['blue','red','neither']
firstSort = firstTotals.reindex(index=newIndex)
firstSort

,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald
blue,26113,25861,23054,14758,24690,12948
red,24822,24416,22160,16474,24800,12363
neither,555,1213,6276,20258,2000,26179

In [40]:
firstSort.to_csv('firstSort.csv')

In [53]:
total_tower_destroyed = (data['t1_towerKills'].sum() + data['t2_towerKills'].sum())
total_inhibitor_destroyed = (data['t1_inhibitorKills'].sum() + data['t2_inhibitorKills'].sum())
total_baron_kills = (data['t1_baronKills'].sum() + data['t2_baronKills'].sum())
total_dragon_kills = (data['t1_dragonKills'].sum() + data['t2_dragonKills'].sum())
total_riftHerald_kills = (data['t1_riftHeraldKills'].sum() + data['t2_riftHeraldKills'].sum())

total_tower_destroyed,total_inhibitor_destroyed,total_baron_kills,total_dragon_kills,total_riftHerald_kills

(579202, 103115, 40514, 143737, 25311)

In [57]:
df_total = {'total_tower_destroyed': 579202,
            'total_inhibitor_destroyed': 103115,
            'total_baron_kills': 40514,
            'total_dragon_kills': 143737,
            'total_riftHerald_kills' : 25311}

df_total = pd.DataFrame(df_total, index=[0])
df_total.to_csv('df_total.csv')

이후 태블로에서 시각화 작업 진행

태블로 링크 : https://public.tableau.com/app/profile/.12758304/viz/_16874971992690/sheet9?publish=yes